numpy
scipy
pandas
requests
matplotlib
seaborn
plotly
nbformat
scikit-learn
https://github.com/ydataai/pandas-profiling/archive/master.zip
markupsafe==2.0.1
scikit-learn # sklearnのこと. sklearnは非推奨のエイリアス
openpyxl
jupyter
xgboost
lightgbm